﻿@{
    ViewBag.Title = "post";
    Layout = "~/Views/Layout.cshtml";
}
<div class="header">
    <h1>@Model.Title</h1>
    <h2>Nathan Jervis</h2>
</div>


<div class="content">
    <div>@Html.Raw(Model.BlogPost)</div>
    <div class="pure-g-r">
        <div class="pure-u-1-4">
            <a href="/blog/first">First Post</a>
        </div>
        <div class="pure-u-1-4">
            @if (Model.Previous != null)
            {
                <a href="/blog/@Model.Previous">Previous Post</a>
            }
        </div>
        <div class="pure-u-1-4" style="text-align:right;">
            @if (Model.Next != null)
            {
                <a href="/blog/@Model.Next">Next Post</a>
            }
        </div>
        <div class="pure-u-1-4" style="text-align:right;">
            <a href="/blog/last">Last Post</a>
        </div>
    </div>
    <!-- begin htmlcommentbox.com -->
    <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">HTML Comment Box</a> is loading comments...</div>
    <link rel="stylesheet" type="text/css" href="//www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
    <script type="text/javascript" id="hcb"> /*<!--*/ if (!window.hcb_user) { hcb_user = {}; } (function () { var s = document.createElement("script"), l = (hcb_user.PAGE || "" + window.location), h = "//www.htmlcommentbox.com"; s.setAttribute("type", "text/javascript"); s.setAttribute("src", h + "/jread?page=" + encodeURIComponent(l).replace("+", "%2B") + "&mod=%241%24wq1rdBcg%24BsQg8dSaia6EO8FokUXa9." + "&opts=16862&num=10"); if (typeof s != "undefined") document.getElementsByTagName("head")[0].appendChild(s); })(); /*-->*/ </script>
    <!-- end htmlcommentbox.com -->
</div>
