﻿<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Nathan Jervis' AWESOME website. I love computer science, programming and technology.">
        <meta name="google-site-verification" content="fXpAGWP1fcgRmnfB1xI3L6pcojI1evjOmiuvwPpEFq0" />
        <title>@Page.Title | Nathan Jervis</title>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
        <link rel="stylesheet" href="~/Content/css/main.css">
        @RenderSection("head", required: false)
    </head>
<body>
    <div class="pure-g-r" id="layout">
        <a href="#menu" id="menuLink" class="pure-menu-link">
            <span></span>
        </a>

        <div class="pure-u" id="menu">
            <div class="pure-menu pure-menu-open">
                <a class="pure-menu-heading" href="/">Nathan</a>
                <ul>                                        
                    @Helper.NavPage("Home")
                    @Helper.NavPage("Projects")
                    @Helper.NavPage("Experience")
                    @Helper.NavPage("Education")
                    @Helper.NavPage("About")
                    <li><a href="mailto://nathan@nathanjervis.com?subject=Contact%20Me">Contact</a></li>
                    <li class="menu-item-divided"><a href="/blog">Blog</a></li>
                </ul>
            </div>
        </div>

        <div class="pure-u-1" id="main">
            @RenderBody()
        </div>
    </div>
    <div class="footer">
        <hr>
        <div class="pure-g-r">
            <div class="pure-u-1-4"></div>
            <div class="pure-u-1-4">
                <p>&copyNathan Jervis 2013</p>
            </div>
            <div class="pure-u-1-4 right">
                <p>
                    Profiles:<br />
                    <a href="https://github.com/mirhagk">Github</a><br />
                    <a href="https://plus.google.com/108509929177619395210?rel=author">Google Plus</a><br />
                    <a href="https://twitter.com/mirhagk">Twitter</a><br />
                    <a href="http://www.linkedin.com/pub/nathan-jervis/40/962/21a">LinkedIn</a><br />
                    <a href="http://stackoverflow.com/users/988817/mirhagk">Stack Overflow</a><br />
                    <a href="https://www.codeplex.com/site/users/view/mirhagk">Codeplex</a>
                </p>
            </div>
        </div>
    </div>
    <script src="/js/menu.js" type="text/javascript"></script>
</body>
</html>
