﻿@{
    ViewBag.Title = "Education";
    Layout = "~/Views/Layout.cshtml";
}

<div class="header">
    <h1>Education</h1>
</div>


<div class="content">
    @Helper.Heading("Honours Computer Science")
    <p>Working towards a BASc in Honours Computer Science at McMaster University</p>
</div>