﻿@{
    ViewBag.Title = "Experience";
    Layout = "~/Views/Layout.cshtml";
}

<div class="header">
    <h1>Experience</h1>
</div>


<div class="content">
    @Helper.Heading("Population Health Research Insitute")
    <p>Hamilton, ON</p>

    <h3>Software Solutions Developer</h3>

    <p>Develop clinical trial management systems</p>

    <p>Technologies Used:</p>
    <ul>
        <li>C#</li>
        <li>ExtJS</li>
        <li>LINQ/SQL</li>
        <li>ASP.NET</li>
        <li>TFS</li>
        <li>RDL/RDLC</li>
    </ul>
    <p>Responsibilities:</p>
    <ul>
        <li>Develop websites and design databases</li>
        <li>Diagnose and fix bugs, documenting solutions using TFS</li>
        <li>Follow specification to create validated systems that comply to the user's needs</li>
        <li>Create reports and database views</li>
        <li>Help new students get started at the work place</li>
    </ul>
    <p>Accomplishments:</p>
    <ul>
        <li>Main developer for several projects including SAHARA clinical trial</li>
        <li>Built public website for assessing heart risk score https://rome.phri.ca/interheartriskscore</li>
        <li>Found security flaws, such as SQL injections, fixed flaws and led redeployment of project</li>
        <li>Assessed new technologies and alternatives to existing systems (such as mobile and SMS service)</li>
    </ul>

    @Helper.Heading("Quickee Inc")
    <p>Hamilton, ON</p>

    <h3>Lead Software Architect</h3>

    <p>Design, architect and create entire Quickee system, including client, server and database</p>
    More details:
    <p>Technologies Used:</p>
    <ul>
        <li>C#</li>
        <li>ASP.NET</li>
        <li>Azure Cloud Services</li>
        <li>HTML/CSS</li>
        <li>Javascript/JQuery</li>
        <li>Phonegap</li>
        <li>SQL/LINQ</li>
    </ul>
    <p>Responsibilities:</p>
    <ul>
        <li>Gather system requirements and design database structure</li>
        <li>Design an interface for the mobile application to communicate with the server</li>
        <li>Evaluate solutions for mobile applications, and select technologies</li>
        <li>Build a mobile application to facilitate ordering specials from local restaurants</li>
        <li>Build a server that will scale easily, and allow for rapid future changes</li>
    </ul>
    <p>Accomplishments:</p>
    <ul>
        <li>Built tool to compress javascript, compile less code, zip code into package and upload package to http://build.phonegap.com to build mobile apps</li>
    </ul>

    @Helper.Heading("NVC Software Solutions")
    <p>Hamilton, ON</p>

    <h3>President and Lead Programmer</h3>

    <p>Created a ran a software contracting company. Served several clients building websites, applications and more.</p>

    <p>Technologies Used:</p>
    <ul>
        <li>C#</li>
        <li>Java</li>
        <li>SQL</li>
        <li>Python</li>
        <li>HTML/CSS</li>
        <li>Javascript/JQuery</li>
        <li>Bootstrap</li>
    </ul>
    <p>Responsibilities:</p>
    <ul>
        <li>Attract clients and negotiate contracts</li>
        <li>Manage a team of developers, delegating work, training and reviewing code</li>
        <li>Report all finances and make spending decisions</li>
    </ul>
    <p>Accomplishments:</p>
    <ul>
        <li>Build a bot to crawl and analyze local websites and assess whether a website redesign could be useful automatically. Based on several factors including html tag usage</li>
    </ul>

    @Helper.Heading("Rendezvous Mobile")
    <p>Hamilton, ON</p>

    <h3>Lead Backend Programmer</h3>

    <p>Design, architect and create backend for mobile application. Mobile application details are still confidential.</p>

    <p>Technologies Used:</p>
    <ul>
        <li>C#</li>
        <li>ASP.NET</li>
        <li>Azure Cloud Services</li>
        <li>SQL/LINQ</li>
        <li>JSON</li>
    </ul>
    <p>Responsibilities:</p>
    <ul>
        <li>Design a protocol for the client application to communicate with the server</li>
        <li>Draft specification documents and database layout</li>
        <li>Construct database and API according to specification</li>
    </ul>
</div>
